.card__title{
    padding: 15px;
    text-align: center;
    width: 320px;
}

.card__title--green{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }